<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        .checked {
            color: orange;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Hotello</title>
</head>
<body style="background-color: #F8F9FA;">


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="navbar-brand my-0 mr-md-auto font-weight-normal" href="/">Hotello</a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Booking conditions</a>
        <a class="p-2 text-dark" href="#">Payment</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">About us</a>
    </nav>
    <div class="btn-group dropleft">
        <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <img src="/img/user_logo.svg" alt="user_logo" width="25">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="/orders">
                Orders
            </a>
            <form th:action="@{/logout}" method="post">
                <a class="dropdown-item" type="submit">
                    Logout
                </a>
            </form>
        </div>
    </div>
</div>


<main role="main">
    <section class="jumbotron text-center">
        <form method="get" action="/app/findApartment">
            <div class="form-row justify-content-center">
                <div class="col-auto">
                    <label for="checkInInput">
                        Check in
                    </label>
                    <input class="form-control" type="date" id="checkInInput" name="checkIn" min="${nowDate}"
                           oninput="checkDates()" required>
                </div>
                <div class="col-auto">
                    <label for="checkOutInput">
                        Check out
                    </label>
                    <input class="form-control" type="date" id="checkOutInput" name="checkOut" min="${nowDate}"
                           oninput="checkDates()" required>
                </div>
                <div class="col-auto">
                    <label for="inlineFormCustomSelectPref">
                        Apartment class
                    </label>
                    <select class="custom-select" id="inlineFormCustomSelectPref" name="starsAmount" required>
                        <option value="1">
                            One star
                        </option>
                        <option value="2">
                            Two stars
                        </option>
                        <option value="3">
                            Three stars
                        </option>
                        <option value="4">
                            Four stars
                        </option>
                        <option value="5">
                            Five stars
                        </option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="visitorsAmount">
                        Places amount
                    </label>
                    <input class="form-control" type="number" min="1" id="visitorsAmount" name="placesAmount" required>
                </div>
                <div class="col-auto">
                    <button type="submit" style="margin-top: 30px;" class="btn btn-primary" id="searchButton">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </section>
</main>
<script type="text/javascript">
    function checkDates() {
        var checkIn = new Date(document.getElementById('checkInInput').value);
        var checkOut = new Date(document.getElementById('checkOutInput').value);
        var searchButton = document.getElementById('searchButton');
        if (checkIn < checkOut) {
            searchButton.disabled = false;
        } else {
            searchButton.disabled = true;
        }
    }
</script>
</body>
</html>